<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.up72.game.dao.RoomMapper">

<!-- 	<resultMap type="java.util.List" id="roomMap"> -->
<!-- 		<result property="id" column="ID"/> -->
<!-- 	</resultMap> -->
    
    <sql id="room_columns">
        T.ID,T.NUMBER,T.USER_ID
    </sql>
    
    <insert id="insert">
        INSERT INTO GAME_ROOM(
            CREATE_ID,ROOM_ID,CREATE_TIME,USER_ID1,USER_ID2,
            USER_ID3,IS_PLAYING,ROOM_TYPE,
            CIRCLE_NUM,
           	CAN4TAKE2,
           	LAIZI,
           	DINGFEN,
           	MULTYPE,
           	DAPAIJIAOMAN,
			SERVER_IP,
			XIAO_JU,
			EXTRA_TYPE,
			TI_SHI,
			MINGPAI_TYPE,
			DIZHU_TYPE,
			CID       
        )
        VALUES (
           #{createId},#{roomId},#{createTime},#{userId1},#{userId2},
           #{userId3},#{isPlaying},#{roomType},
           #{circleNum},
           #{can4Take2},
           #{laiZi},
           #{dingFen},
           #{mulType},
           #{daPaiJiaoMan},
           #{ip},
           #{XiaoJuNum},
           #{extraType},
           #{tiShi},
           #{mingPaiType},
           #{diZhuType},
           #{cid}
        )
    </insert>
    
    <update id="updateRoomState">
        update GAME_ROOM set IS_PLAYING = 0 ,XIAO_JU = #{xiaoJuNum} where ID = #{id}
    </update>
    
    <select id="getMyCreateRoom" resultType="java.util.Map">
    	select 
		r.ROOM_ID as roomId,
		r.CREATE_TIME as createTime,
		r.CIRCLE_NUM as circleNum,
		
		r.ROOM_TYPE as roomType,
		r.CAN4TAKE2 as can4Take2,
		r.LAIZI as laiZi,
		r.DINGFEN as dingFen,
		r.MULTYPE as mulType,
		r.DAPAIJIAOMAN as daPaiJiaoMan,
		r.XIAO_JU as xiaoJuNum,
		r.EXTRA_TYPE as extraType,
		(select USER_NAME from GAME_USER where USER_ID=r.USER_ID1) as openName1,
		(select USER_IMG from GAME_USER where USER_ID=r.USER_ID1) as openImg1,
		pr.FIRST_USER_MONEY_REMAIN as score1,
		
		(select USER_NAME from GAME_USER where USER_ID=r.USER_ID2) as openName2,
		(select USER_IMG from GAME_USER where USER_ID=r.USER_ID2) as openImg2,
		pr.SECOND_USER_MONEY_REMAIN as score2,
		
		(select USER_NAME from GAME_USER where USER_ID=r.USER_ID3) as openName3,
		(select USER_IMG from GAME_USER where USER_ID=r.USER_ID3) as openImg3,
		pr.THIRD_USER_MONEY_REMAIN as score3,
		
		
		from GAME_ROOM r 
		inner JOIN GAME_PLAY_RECORD pr on 
		r.ROOM_ID = pr.ROOM_ID 
		and  r.USER_ID1 =pr.FIRST_USER_ID
		and  r.USER_ID2 =pr.SECOND_USER_ID
		and  r.USER_ID3 =pr.THIRD_USER_ID
    	where CREATE_ID=#{userId} and ROOM_TYPE=#{roomType} ORDER BY CREATE_TIME desc
    	limit #{start},#{limit}
    </select>
    
    <select id="getMyCreateRoomTotal" resultType="java.lang.Integer">
    	select count(1)
		
		from GAME_ROOM r 
		inner JOIN GAME_PLAY_RECORD pr on 
		r.ROOM_ID = pr.ROOM_ID 
		and  r.USER_ID1 =pr.FIRST_USER_ID
		and  r.USER_ID2 =pr.SECOND_USER_ID
		and  r.USER_ID3 =pr.THIRD_USER_ID
    	where CREATE_ID=#{userId} and ROOM_TYPE=#{roomType} ORDER BY CREATE_TIME desc
    	
    </select>

</mapper>